<div id="flexcontainer">
<div class="flexbox">
<h1>Welcome to I ❤ Resto!</h1>


<h2><%= link_to "Sign up", signup_path, style: 'color:white;' %></h2>

<h2><%= link_to "Log in", login_path, style: 'color:white;' %></h2>

<h2><%= link_to('Log in with Facebook!', '/auth/facebook', style: 'color:white;') %></h2>
</div>
</div>
