THIS IS THE REVIEWS INDEX PAGE 
<h1>Read reviews from one of these restaurants</h1>
<% @restaurants.each do |r| %>
    <%= r.name %> <%= link_to "Read", restaurant_path(r)  %>
    <br>
<% end %>



CLICK ON READ 
GO TO RESTARAUNT SHOW PAGE 