<div id="flexcontainer">
<div class="flexbox">

<h1>Restaurant name: <%= @restaurant.name %></h1>
<% @reviews.each do |r| %>
  <h2>Title: <%= link_to r.title, restaurant_review_path(@restaurant,r), style: 'color:white;' %></h2>

<% end %>


<br>

<h3><%= link_to "Write a review for this restaraunt!", new_restaurant_review_path(@restaurant), style: 'color:white;'%></h3>

<h3><%= link_to "Restaurants page", restaurants_path, style: 'color:white;' %></h3></h3>
</div>
</div>