/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, h1, h2, h3, h4, h5, h6 {
    font-family: Courier New, monospace;
  }
  
  

  
  body {background:
   linear-gradient(135deg, rgb(148, 150, 145) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg,  rgb(148, 150, 145) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, rgb(148, 150, 145) 25%, transparent 25%),
    linear-gradient(45deg, rgb(148, 150, 145) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: #EC173A;
    }
    
  h1, h2, h3 { color: white }

  

  h1, h2, h3 { text-align: center }

 #flexcontainer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

 .flexbox {    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    padding: 50px;
    }  